.quiz-start-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.quiz-start-title {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif; 
}

.quiz-card {
    width: 100%; 
    height: 150px;
    border: 2px solid black;
    background-color: #A8A8A8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.quiz-card h3 {
    font-size: 24px;
}

.quiz-card p {
    font-size: 18px;
}

.start-button {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}