.quizzes-list-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.quizzes-list-title {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
}

.quiz-list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quiz-li {
    width: 100%;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 15px;

}

.make-button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 756px) {
    .quiz-list {
        width: 70%;
        align-self: center;
    }
    .make-button {
        width: 70%;
    }
}


