.flashcard {
    border: 2px solid black;
    background-color: #A8A8A8;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.flash-link {
    width: 100%;
}

.flash-link:link {
    text-decoration: none;
}

.flash-question {
    color: black;
}


h3 {
    text-align: center;
}