.landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    align-self: center;
}

.hero-img {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.button-link {
    width: 100%;
    height: auto;
}

.landing-title {
    font-family: 'Libre Baskerville', serif;
}

.landing-intro {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.buttons {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.landing-button {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #7FC8FF;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

