.quiz-active-card {
    width: 100%; 
    height: 150px;
    border: 2px solid black;
    background-color: #A8A8A8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-bottom: 30px;
}

.quiz-active-flip {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background-color: #7FC8FF;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.response-button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.response-button {
    width: 33%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#correct {
    background-color: #31FF1E;
}

#wrong {
    background-color: #FF2B2B;
}