.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-container h2 {
    font-size: 36px;
    font-family: 'Libre Baskerville', serif;
}

.home-container p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.home-nav {
    width: 100%;
    height: auto;
}

.nav-list {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.nav-li {
    border: 1px solid black;
    background-color: #A8A8A8;
    list-style-type: none;
    width: 100%;
    font-size: 24px;
    font-family: 'Libre Baskerville';
    color: black;
    padding: 15px 0px;
    margin-bottom: 15px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.action-button {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 756px) {
    .home-nav {
        width: 70%;
        align-self: center;
    }
    .home-container p {
        width: 70%;
        align-self: center;
    }
    .action-button {
        width: 70%;

    }
}