.login-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-label {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.login-input {
    padding: 5px;
    margin-bottom: 10px;
}

.login-submit-button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 25px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}