.quiz-results-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.results-title {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
}

.results {
    width: 100%;
    height: 150px;
    border: 2px solid black;
    background-color: #A8A8A8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.results h3 {
    font-size: 24px;
}

.results p {
    font-size: 18px;
}

.quiz-results-button-container {
    width: 100%;
    height: auto;
}

.results-button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 25px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 756px) {
    .quiz-results-container {
        width: 70%;
    }
}
