.view-quiz-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.view-quiz-flash-li {
    width: 100%;
    list-style-type: none;
    padding: 10px;
}

.view-quiz-buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.view-quiz-button {
    width: 45%;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #7FC8FF;
}

.view-quiz-name {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
}

.view-quiz-flash-list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.take-quiz-button {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 756px) {
    .view-quiz-button {
        width: 30%;
    }
    .view-quiz-flash-list {
        width: 70%;
    }
    .take-quiz-button {
        width: 70%;
    }
}