.make-quiz-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.make-quiz-title {
    font-size: 28px;
    font-family: 'Libre Baskerville', serif;
}

.make-quiz-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.quiz-name-label {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.quiz-name-input {
    padding: 5px 10px;
    margin-bottom: 15px;
}

.flashcard-checkbox-container {
    display: flex;
    flex-direction: row
}

.flashcard-checkbox-label {
    width: 80%;
    padding: 10px;
}

.make-quiz-submit {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #7FC8FF;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 756px) {
    .make-quiz-form {
        width: 70%;
    }
}
