.flashcard-active-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flashcard-buttons {
    width: 100%;
    height: auto;
    margin-top: 25%;
    margin-bottom: 25px;
}

.flashcard-button {
    width: 45%;
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #7FC8FF;
}
.card {
    border: 2px solid black;
    background-color: #A8A8A8;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.flip-button {
    width: 100%;
    padding: 10px 15px;
    margin-top: 25px;
    background-color: #7FC8FF;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}