.signup-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup-label {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.signup-input {
    padding: 5px 0px;
    margin-bottom: 5px;
}

.signup-submit {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 15px 0px;
    background-color: #7FC8FF;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}